* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-collapse {
	flex-grow: initial;
}

.btn{
    margin-left: 15px;
}

.seleccion {
    text-align: center;
}
#selec {
    width: 50%;
}

select {
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}

.card {
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}